extends inc/core/_base
block title
  - var title = ''
  title= title
block body

    include inc/layout/_l-header
    h1 Hello, World!!!!

    #page-top
        p: a#move-page-top ▲
    include inc/layout/_l-footer

block append scriptFooter